@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    background: whitesmoke;
}

body::-webkit-scrollbar {
    width: 14px;
}

body::-webkit-scrollbar-track {
    background: whitesmoke;
}

body::-webkit-scrollbar-thumb {
    background-color: #f3a78b;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.300);
    
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 0px 10px 0px 10px;
    background: #F28963;
    height: 80px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.350);
    color: #fff;
    z-index: 999;
    top: 0;
}

header .menu {
    list-style: none;
    float: left;
    height: 100%;
    display: flex;
}

header h1 a {
    text-decoration: none;
    color: #Fff;
    cursor: pointer;
    font-size: 22pt;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.300);
}

header .menu li {
    position: relative;
    float: left;
    height: 100%;
    z-index: 999;
    transition: .3s;
 
}

header .menu li:hover {
    text-decoration: underline;
}

header .menu li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    transition: .3s ease;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.300);
    font-size: 12pt;
}

header .menu li ul {
    position: absolute;
    top: 80px;
    left: 0;
    background: #f3a78b;
    display: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.300);
}

header .menu li:hover ul,
.menu li.over ul {
    display: block;
}

header .menu li ul li {
    display: block;
    width: max-content;
}

header .menu li ul li a {
    color: rgb(255, 255, 255);
    width: max-content;
}

header .search {
    display: flex;
    align-items: center;
    margin: 5px;
}

header .search input {
    padding: 10px;
    margin-right: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.300);
}

header .search i {
    font-size: 25px;
    cursor: pointer;
}

header .cart {
    display: flex;
    align-items: center;
}

header .cart i {
    font-size: 25px;
    margin: 5px;
    cursor: pointer;
}

header .bi {
    transition: .2s;
}

header .bi:hover {
    transform: scale(1.1);
    transition: .2s;
}

header .cart .bi-cart {
    height: 100%;
}

/* Carrinho de compras */
.carrinho {
    display: none;
    position: absolute;
    top: 80px;
    right: 0px;
    z-index: 999;
    width: 400px;
    height: 800px;
    background: rgb(247, 243, 243);
    transition: .3s;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.350);
    font-style: normal;
    user-select: none;
}

.carrinho .titulo {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    margin-right: 14px;
}

.carrinho h2 {
    color: black;
    font-size: 22pt;
    text-align: center;
}

.carrinho .pedido {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow-y: scroll;
    height: 75%;
}

.carrinho .pedido::-webkit-scrollbar {
    width: 14px;
}

.carrinho .pedido::-webkit-scrollbar-track {
    background: whitesmoke;
}

.carrinho .pedido::-webkit-scrollbar-thumb {
    background-color: #f3a78b;
    border-radius: 20px;
    border: 2px solid black;
}

.carrinho .info-pedido {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    background: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.322);
    border-radius: 10px;
    padding: 10px;
}

.carrinho .div-img {
    width: 90px;
    display: flex;
}

.carrinho .div-img img {
    width: 90px;
}

.carrinho .div-detalhes div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carrinho .div-detalhes div input {
    border-radius: 5px;
    border: 1px solid black;
    width: 50px;
    text-align: center;
    background: whitesmoke;
    font-size: 12pt;
    font-weight: 700;

}

.carrinho .div-detalhes .delete {
    color: black;
    margin-right: 10px;
}

.carrinho .div-detalhes .delete i {
    font-size: 25pt;
}

.carrinho .div-detalhes a {
    text-decoration: none;
}

.carrinho .div-detalhes a .info-produto {
    font-size: 10pt;
    color: black;
    margin: 10px;
}


.carrinho .div-detalhes .info-produto:hover {
    text-decoration: underline;
}

.carrinho .div-detalhes p {
    font-size: 12pt;
    margin: 10px;
}

.carrinho .subtotal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 15%;
    margin-right: 14px;
}

.carrinho .subtotal h3 {
    color: black;
    font-size: 18pt;
}

.carrinho .subtotal h3 span {
    font-size: 18pt;
}

.carrinho .subtotal button {
    border: none;
    background: #038C25;
    color: #fff;
    padding: 15px;
    width: 200px;
    border-radius: 15px;
    cursor: pointer;
    transition: .3s ease;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.644);
    font-weight: 700;
    letter-spacing: 1px;
    margin: 10px;
    font-size: 12pt;
}

.carrinho .subtotal button:hover {
    background: #02701d;
}


.activeCarrinho~.carrinho {
    display: block;
}

.blue {
    color: rgb(0, 0, 168);
    font-size: 12pt;
    font-weight: 700;
}

/* FIM Carrinho de compras */

.slider {
    margin: 0 auto;
    width: 1200px;
    height: 600px;
    overflow: hidden;
    margin-top: 50px;
    z-index: 888;
}

.slides {
    width: 400%;
    height: 600px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 1200px;
    height: 600px;
    object-fit: cover;
}

.manual-navigation {
    position: absolute;
    width: 1200px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #FFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #FFF;
}

#radio1:checked~.primeira {
    margin-left: 0;
}

#radio2:checked~.primeira {
    margin-left: -25%;
}

#radio3:checked~.primeira {
    margin-left: -50%;
}

.navigation-auto div {
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 1200px;
    margin-top: 560px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background: #fff;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background: #fff;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background: #fff;
}

main h3 {
    text-align: center;
    margin: 20px 0px 20px 0px;
    font-size: 25pt;
}

main .products {
    margin: 50px 100px 100px 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 100px 0px 100px;
}

main .products .p1 {
    width: 230px;
    height: 350px;
    border: 1px solid rgba(0, 0, 0, 0.205);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    transition: .3s ease;
    padding: 10px;
    cursor: pointer;
    margin: 15px;
    background: #FFF;
}

main .products .p1:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.205);
}

main .products .p1:hover>img {
    transform: scale(1.1);
}

main .products .p1 img {
    width: 100%;
    height: 50%;
    object-fit: contain;
    transition: .3s ease;
}

main .products .p1 p {
    color: rgba(0, 0, 0, 0.74);
    text-overflow: clip;
    text-align: center;
    font-size: 12pt;
}

main .products h4 {
    color: #0367A6;
    font-size: 14pt;
}

main .products button {
    border: none;
    background: #038C25;
    color: #fff;
    padding: 10px;
    width: 150px;
    border-radius: 15px;
    cursor: pointer;
    transition: .3s ease;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.644);
    font-weight: 700;
    letter-spacing: 1px;
}

main .products button:hover {
    background: #02701d;
}

footer {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.350);
    width: 100%;
    max-height: 185px;
}

footer .info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: #F28963;
}

footer .info .footer {
    padding: 10px;
    /* border: 1px solid black; */
    margin: 20px;
}

footer .info .footer h4 {
    color: rgb(44, 44, 44);
}

footer .info .footer p,
a {
    text-decoration: none;
    color: #fff;
    font-size: 12pt;
}

footer .info .footer a:hover {
    text-decoration: underline #fff;
}

footer .info .follow i {
    font-size: 20pt;
    margin: 5px;
}

footer .copyright {
    width: 100%;
    background: rgb(41, 41, 41);
    color: #Fff;
    text-align: center;
    padding: 5px;
}

.produto {
    height: 100vh;
}





@media only screen and (max-width: 1200px) {
    .slider {
        width: 800px;
        height: 400px;
    }

    .slides {
        width: 400%;
        height: 400px;
    }

    .slide img {
        width: 800px;
        height: 400px;
    }

    .manual-navigation {
        width: 800px;
    }

    .manual-btn {
        border: 2px solid #FFF;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }

    .navigation-auto {
        width: 800px;
        margin-top: 360px;
    }
}

@media only screen and (max-width: 800px) {
    .slider {
        width: 80%;
        height: 200px;
    }

    .slides {
        width: 500%;
        height: 200px;
    }

    .slide img {
        width: 80%;
        height: 200px;
    }

    .manual-navigation {
        width: 80%;
    }

    .manual-btn {
        border: 2px solid #FFF;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }

    .navigation-auto {
        width: 80%;
        margin-top: 160px;
    }

    footer {
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.350);
        width: 100%;
        max-height: 185px;
    }

    footer .info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: #F28963;
        width: 100%;
    }

    footer .info .footer {
    
     
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    footer .info .footer h4 {
        color: rgb(44, 44, 44);
    }

  

    footer .info .footer a,
    p {
        text-decoration: none;
        color: #fff;
        font-size: 13pt;
    }

    footer .info .footer p{
   
        font-size: 13pt;
    }

    footer .info .footer a:hover {
        text-decoration: underline #fff;
    }

    footer .info .follow{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    footer .info .follow .icones{
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    footer .info .follow i {
        font-size: 20pt;
        margin: 5px;
    }

    footer .copyright {
        width: 100%;
        background: rgb(41, 41, 41);
        color: #Fff;
        text-align: center;
        padding: 5px;
    }

    header{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-height: 180px;
    }

    header .menu li a{
        width: max-content;
    }

    main{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    main .products{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 100%;
    }

    .carrinho {
        width: 50%;
        top: 180px;
    }
}

@media only screen and (max-width: 680px){
    .carrinho {
        width: 100%;
        top: 180px;
    }
}